@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ONLINE prodavnica sanitarne OPREME</h1>
    <p class="lead">Pregledajte proizvode</p>
    <p><button>@Html.ActionLink("Proizvodi", "Index", "Proizvods")</button></p>
</div>

<div class="row">
    <center>
        <h3><b><u>O nama</u></b></h3>
        <h4>
            Kao prodavnica sa najvećim asortimanom proizvoda i najboljim cenama na tržištu možemo da se pohvalimo
            da smo najkonkurentnija online prodavnica sanitarne opreme u regionu.<br /><br />
            Pogledajte neke od naših dobavljaca iz inostranstva
        </h4>
    </center>
    <div class="col-md-4">
        <h2>Fabrika keramike Ragno</h2>
        <p>
            Jedna od vodecih fabrika italijanske keramike.
        </p>
        <p><a class="btn btn-default" href="https://www.ragnoworld.com/">Pogledaj &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sanitarija Laufen</h2>
        <p>Laufen sanitarija je jedna od najboljih i najkvalitetnijih sanitarija sa proizvodnjom u Švajcarskoj.</p>
        <p><a class="btn btn-default" href="https://www.laufen.com/">Pogledaj &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hansgrohe</h2>
        <p>Najpopularniji proizvodjač baterija i mešača u svetu.</p>
        <p><a class="btn btn-default" href="https://www.hansgrohe.com/">Pogledaj &raquo;</a></p>
    </div>
</div>
<h4 style="text-align-last:center">Pored ovih postoje jos mnogi svetski brendovi u našoj ponudi.</h4>
